# 1. Import Required Library

In [1]:
import pandas as pd

```
Purpose:
Pandas is a powerful Python library for data manipulation and analysis. 

It provides data structures like DataFrames which are essential for handling tabular data efficiently.
```

# 2. Define "read_file" Function

In [5]:
# Read datas from files, return a DataFrame
def read_file(filename, columns=None):
    return pd.read_csv(filename, sep='\t', header=None, names=columns)

```
Purpose: 
This function reads a tab-separated values (TSV) file and returns a pandas DataFrame
```

# 3.Merge datas into one DataFrame

In [8]:
def denormalize(avions, pilotes, vols, clients, reservations):
    # Merge datas into single DataFrame
    vols_merged = vols.merge(pilotes, left_on='PilotID', right_on='PilotID', how='left')
    
    vols_merged = vols_merged.merge(avions, left_on='PlaneID', right_on='PlaneID', how='left')

    vols_merged = vols_merged.merge(reservations, on='FlightID', how='left')
    
    vols_merged = vols_merged.merge(clients, on='ClientID', how='left')
    return vols_merged

```
Purpose:
Create a unified view that links flights to their respective pilots, airplanes, reservations, and clients
```

In [ ]:
vols_merged = vols.merge(pilotes, left_on='PilotID', right_on='PilotID', how='left')

```
Purpose: 
To include pilot information in the flight data.

Result: 
Each flight entry now has the corresponding pilot details

Key Columns:
Left DataFrame (vols_data): PilotID
Right DataFrame (pilotes_data): PilotID

Type of Join:
Left Join (how='left'): 
Retains all records from the left DataFrame (vols_data) and adds matching records from the right DataFrame (pilotes_data). If there's no match, the result will have NaN values for the right DataFrame's columns.
```

In [ ]:
vols_merged = vols_merged.merge(avions, left_on='PlaneID', right_on='PlaneID', how='left')

```
Purpose:
To add details about the plane used for each flight.

Result:
Each flight entry now includes information about the aircraft model, capacity, and airline.

Key Columns:
Left DataFrame (vols_merged_pilotes): PlaneID
Right DataFrame (avions_data): PlaneID

Type of Join:
Left Join (how='left'):
Retains all records from the left DataFrame (vols_merged_pilotes) and adds matching records from the right DataFrame (avions_data). If there's no match, the result will have NaN values for the right DataFrame's columns.
```

In [ ]:
vols_merged = vols_merged.merge(reservations, on='FlightID', how='left')

```
Purpose: 
To attach reservation data to the flights.

Result: 
Each flight entry now shows reservation details, linking clients with their booked flights.

Key Columns:
Left DataFrame (vols_merged_avions): FlightID
Right DataFrame (reservations_data): FlightID

Type of Join:
Left Join (how='left'):
Retains all records from the left DataFrame (vols_merged_pilotes) and adds matching records from the right DataFrame (reservations_data). If there's no match, the result will have NaN values for the right DataFrame's columns.
```

In [ ]:
vols_merged = vols_merged.merge(clients, on='ClientID', how='left')

```
Purpose: 
To include client information in the overall dataset.

Result: 
Each flight entry now includes the client's name, address, and other details, creating a comprehensive view of each reservation.

Key Columns:
Left DataFrame (vols_merged_reservations): ClientID
Right DataFrame (clients_data): ClientID

Type of Join:
Left Join (how='left'): 
Retains all records from the left DataFrame (vols_merged_reservations) and adds matching records from the right DataFrame (clients_data). If there's no match, the result will have NaN values for the right DataFrame's columns.
```

In [9]:
avions_columns = ['PlaneID', 'PlaneName', 'Capacity', 'Airline', 'Year']
pilotes_columns = ['PilotID', 'PilotName', 'PilotExperience', 'Nationality', 'LicenseNumber']
vols_columns = ['FlightID', 'Departure', 'Destination', 'DepDate', 'DepTime', 'ArrDate', 'ArrTime', 'PilotID', 'PlaneID']
clients_columns = ['ClientID', 'ClientName', 'ClientSomething', 'ClientAddress', 'ClientPostcode', 'ClientNationality']
reservations_columns = ['ClientID', 'FlightID', 'Class', 'NumberOfSeats']

```
Purpose:
Define name for columns in DataFrame
```

In [10]:
avions_data = read_file("AVIONS.txt", avions_columns)
pilotes_data = read_file("PILOTES.txt", pilotes_columns)
vols_data = read_file("VOLS.txt", vols_columns)
clients_data = read_file("CLIENTS.txt", clients_columns)
reservations_data = read_file("RESERVATIONS.txt", reservations_columns)

```
Purpose:
Create DataFrame for each data file
```

In [11]:
denormalized_data = denormalize(avions_data, pilotes_data, vols_data, clients_data, reservations_data)

```
Purpose:
Denormalize input datas
```

In [12]:
print(denormalized_data)

    FlightID  Departure Destination   DepDate DepTime   ArrDate ArrTime  \
0       V101  Marseille   Amsterdam   1/04/07    8:10   1/04/07    9:10
1       V101  Marseille   Amsterdam   1/04/07    8:10   1/04/07    9:10
2       V101  Marseille   Amsterdam   1/04/07    8:10   1/04/07    9:10
3       V101  Marseille   Amsterdam   1/04/07    8:10   1/04/07    9:10
4       V101  Marseille   Amsterdam   1/04/07    8:10   1/04/07    9:10
..       ...        ...         ...       ...     ...       ...     ...
233     V925      Paris        Nice  25/04/07   22:00  25/04/07   23:15
234     V926      Paris        Nice  26/04/07   22:00  26/04/07   23:15
235     V927      Paris        Nice  27/04/07   22:00  27/04/07   23:15
236     V928      Paris        Nice  28/04/07   22:00  28/04/07   23:15
237     V929      Paris        Nice  29/04/07   22:00  29/04/07   23:15

     PilotID  PlaneID PilotName  ...  Airline Year  ClientID     Class  \
0       5050      560   Leblanc  ...     Nice  NaN    1031.0  Business
1       5050      560   Leblanc  ...     Nice  NaN    1027.0  Business
2       5050      560   Leblanc  ...     Nice  NaN    1031.0  Touriste
3       5050      560   Leblanc  ...     Nice  NaN    1033.0  Touriste
4       5050      560   Leblanc  ...     Nice  NaN    1028.0  Touriste
..       ...      ...       ...  ...      ...  ...       ...       ...
233     4020      240     Duval  ...    Paris  NaN       NaN       NaN
234     4020      240     Duval  ...    Paris  NaN       NaN       NaN
235     4020      240     Duval  ...    Paris  NaN       NaN       NaN
236     4020      240     Duval  ...    Paris  NaN       NaN       NaN
237     4020      240     Duval  ...    Paris  NaN       NaN       NaN

     NumberOfSeats ClientName  ClientSomething        ClientAddress  \
0              2.0       Bohr             12.0        Rue St Joseph
1              2.0    Lorentz             35.0  Rond Point Du Prado
2              5.0       Bohr             12.0        Rue St Joseph
3              7.0      Dirac              3.0         Rue St Louis
4              6.0     Lenard             45.0  Rond Point Du Prado
..             ...        ...              ...                  ...
233            NaN        NaN              NaN                  NaN
234            NaN        NaN              NaN                  NaN
235            NaN        NaN              NaN                  NaN
236            NaN        NaN              NaN                  NaN
237            NaN        NaN              NaN                  NaN

    ClientPostcode  ClientNationality
0          13014.0          Marseille
1          13008.0          Marseille
2          13014.0          Marseille
3          34000.0           Toulouse
4          13008.0          Marseille
..             ...                ...
233            NaN                NaN
234            NaN                NaN
235            NaN                NaN
236            NaN                NaN
237            NaN                NaN

[238 rows x 25 columns]

```
Purpose:
Print datas to check
```

In [13]:
denormalized_data.to_json('denormalized_data.json', orient='records', lines=True)

```
Purpose:
Convert datas to JSON format
```

```
Parameter:
denormalized_data.json':

Description: 
The name of the output file where the JSON data will be saved. 
Purpose:
Specifies the destination file name for the exported JSON data, making it identifiable for future use.
```

```
Parameter:
orient='records':

Description: 
A parameter that determines the format of the JSON output.
Purpose: 
When set to 'records', it structures the output as a list of dictionaries, where each dictionary corresponds to a row in the DataFrame. This format is user-friendly and facilitates easier manipulation of individual records in applications.
```

```
Parameter:
lines=True:

Description: 
A parameter that indicates how to format the output when writing to the file.
Purpose: 
When set to True, it outputs each record as a separate line in the JSON file. This is beneficial for processing large datasets, allowing for efficient line-by-line reading and easier data handling in streaming applications.
```